@import '../../../styles/colors';
@import '../../../styles/fonts';

.card {
    border-radius: 10px;
    aspect-ratio: 2 / 3;
    position: relative;
    cursor: pointer;
    opacity: 85%;
    overflow: hidden;
    width: 100%;

    @media (hover: none) and (pointer: coarse) {
        .infoPanelTouched {
            height: 144px;
            opacity: 95%;
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            opacity: 100%;

            .imageWrapper {
                transform: scale(1.05);
            }

            .infoPanel {
                height: 144px;
                opacity: 95%;
            }
        }
    }
}

@media (hover: none) and (pointer: coarse) {
    .cardTouched {
        opacity: 100%;

        .imageWrapper {
            transform: scale(1.05);
        }
    }
}

.infoPanel {
    transition: height 200ms ease;
    color: $light;
    width: 100%;
    position: absolute;
    border-radius: inherit;
    background-color: $accent;
    text-align: start;
    bottom: 0px;
    height: 47px;
    overflow: hidden;
    opacity: 85%;
}

.title,
.description {
    padding: 0px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title {
    margin: 12px 0 20px;
    font-weight: 500;
    font-size: 18px;
}

.description {
    font-size: 13px;
    letter-spacing: 0.6px;
    line-height: 20px;
    font-weight: 300;
    font-family: $roboto;
    margin-bottom: 20px;
}

.actionButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.commentButtonWrapper {
    display: flex;

    button {
        background-color: $light;
        padding: 8px;
        border-radius: 50%;
    }

    svg {
        fill: $accent;
    }
}

.actionButton {
    button {
        background-color: $light;
        color: $accent;
        font-weight: 600;
        font-size: 14px;
        padding: 6px 10px;
    }
}

.imageWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey-dark;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    transition: 200ms;
}

.imageNotFound {
    color: $grey;
    font-size: 20px;
}

.stars {
    position: absolute;
    display: flex;
    line-height: 1;
    padding: 5px 0px 0px 5px;
    font-size: 20px;

    &::before {
        content: '★★★★★';
        background: linear-gradient(90deg, yellow var(--rating-percentage), transparent var(--rating-percentage));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.starsGradient {
    background: linear-gradient(to right, rgba(18, 69, 89, 0.65) 0%, rgba(255, 250, 255, 0.85) 85%);
}
