@import '../../../styles/colors';

.menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey-light;
    width: 100%;

    label {
        width: 100%;
        text-align: center;
        padding: 8px 6px;
        font-size: 12px;
        cursor: pointer;

        @media (min-width: 320px) {
            font-size: 14px;
        }

        @media (min-width: 380px) {
            padding: 8px 12px;
        }

        &:has(input[type='radio']:checked) {
            background-image: linear-gradient($accent 0 0);
            background-position: bottom center;
            background-size: 100% 2px;
            background-repeat: no-repeat;
            color: $accent;
            font-weight: 500;
        }

        &:not(:has(input[type='radio']:checked)) {
            &:hover {
                background-image: linear-gradient($accent 0 0);
                background-position: bottom center;
                background-size: 50% 2px;
                background-repeat: no-repeat;
                color: $accent;
            }
        }
    }

    input[type='radio'] {
        display: none;
    }
}
