@import '../../../../styles/colors';
@import '../../../../styles/fonts';

.wrapper {
    padding: 20px;
    color: $light;
    border-radius: 4px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.wrapperPending {
    animation: loaderAnimation 2s infinite linear;
    background-size: 200% 100%;
}

.createdBy {
    margin-bottom: 10px;
}

.topPanel {
    padding-bottom: 10px;

    p {
        font-size: 20px;
        font-weight: 500;
    }

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.actionButtonsTopPanel {
    display: none;

    @media (min-width: 768px) {
        display: flex;
    }
}

.actionButtonsBottomPanel {
    display: flex;
    margin-top: 10px;

    @media (min-width: 768px) {
        display: none;
    }
}

.subtitle {
    font-size: 14px;
    font-style: $noto-sans;
}

.info {
    font-size: 18px;

    &:nth-child(2) {
        max-width: 65%;
    }
}

@keyframes loaderAnimation {
    0% {
        background-position: 0% 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0% 0;
    }
}

.dotsContainer {
    display: flex;
    align-items: center;
    &:nth-child(1) {
        height: 30px;
    }

    &:nth-child(2),
    &:nth-child(3) {
        height: 27px;
    }
}
