.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    min-height: 120px;
}

.statusText {
    font-size: 14px;
    margin-top: 20px;
    text-align: center;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}
