.grid {
    padding: 20px 40px;

    @media (min-width: 450px) {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    @media (min-width: 1024px) {
        grid-template-columns: 33.3% 33.3% 33.3%;
    }

    @media (min-width: 1440px) {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
