@import '../../../styles/colors';
@import '../../../styles/fonts';

.borderedInputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.borderedInputLabel {
    margin-bottom: 4px;

    @media (min-width: 340px) {
        font-size: 18px;
    }
}

.borderedInput {
    width: 100%;
    padding: 6px 8px;
    background-color: inherit;
    border: 1px solid $grey-dark;
    box-sizing: border-box;
    font-size: 14px;

    @media (min-width: 340px) {
        font-size: 16px;
    }

    &:focus {
        outline: 1px solid $accent;

        &::placeholder {
            color: transparent;
        }
    }

    &:disabled {
        background-color: $grey;
    }
}
