@import '../../../../styles/colors';

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

    @media (min-width: 320px) {
        height: 125px;
    }
}
