@import '../../../../styles/colors';

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    border-bottom: 1px solid $grey-light;
    height: 100px;

    @media (min-width: 320px) {
        height: 125px;
    }
}
