.signInForm {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 450px;
    width: 50%;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    @media (min-width: 400px) {
        padding: 40px;
    }
}
