.grid {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    @media (min-width: 768px) {
        column-gap: 20px;
        flex-wrap: wrap;
    }
}
