.disclaimer {
    font-size: 14px;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        font-size: 16px;
    }

    ul {
        list-style-type: circle;
        padding-left: 30px;
        margin-bottom: 20px;
    }

    p {
        &:nth-child(1) {
            margin-bottom: 20px;
        }

        &:nth-child(4) {
            margin-bottom: 20px;
        }
    }
}
