.menu {
    display: none;
    @media (min-width: 1024px) {
        display: flex;
        align-items: center;
    }
}

.navMenu,
.menu {
    @media (min-width: 1024px) {
        display: flex;
    }
}

.navMenu {
    padding-right: 20px;

    @media (min-width: 1024px) {
        li {
            padding: 0px 10px;
        }
    }
}
