.actionButtons {
    display: flex;

    width: 100%;
    justify-content: center;

    @media (min-width: 340px) {
        justify-content: flex-start;
    }

    button {
        padding: 4px 8px;
        font-size: 14px;

        @media (min-width: 340px) {
            padding: 6px 12px;
            font-size: 16px;
        }

        &:nth-child(2) {
            margin: 0px 10px;
        }
    }
}
