@import '../../styles/colors';
@import '../../styles/fonts';

.header {
    width: 100%;
    position: relative;
}

.creditsContainer {
    text-align: center;
    padding: 10px 40px;
    background-color: $dark;
}

.tmdbCredit {
    font-size: 12px;
    font-family: $noto-sans;
    color: $light;

    img {
        width: 50%;
    }
}

.bottomContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid $grey-light;
}

.logo {
    font-size: 34px;
    fill: $dark;
}

.hamburgerButtonContainer {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburgerButton,
.hamburgerButton::before,
.hamburgerButton::after {
    background-color: $dark;
    position: absolute;
    padding: 0px;
    display: flex;
    height: 4px;
    width: 30px;
    transition: 400ms;
    border-radius: 2px;
}

.hamburgerButton::before {
    content: '';
    margin-top: -8px;
}

.hamburgerButton::after {
    content: '';
    margin-top: 8px;
}

.hamburgerButtonToggled {
    width: 20px;

    &::after {
        width: 10px;
    }
}

.menu {
    width: 100%;
    position: absolute;
    background-color: $light;

    &::after {
        content: '';
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 50%;
        width: 100%;
        height: 50%;
        position: absolute;
    }

    ul {
        text-align: center;
        height: 0px;
        overflow: hidden;
        transition: height 0.4s cubic-bezier(0.23, 1, 0.32, 1);

        li {
            padding: 0px 24px;
            height: 0px;
            transition: height 0.4s cubic-bezier(0.23, 1, 0.32, 1);
            transition: padding 0.4s cubic-bezier(0.23, 1, 0.32, 1);

            a {
                font-size: 20px;
                color: $grey-dark;
                text-decoration: none;

                &:active {
                    text-decoration: underline;
                }
            }
        }
    }
}

.menuToggled {
    ul {
        border-bottom: 1px solid $grey-light;
        height: 100%;
        li {
            height: 100%;
            padding: 8px 24px;

            &:first-child {
                padding-top: 16px;
            }

            &:last-child {
                padding-bottom: 16px;
            }
        }
    }
}
