@import '../../styles/colors';
@import '../../styles/fonts';

.header {
    width: 100%;
}

.creditsContainer {
    text-align: center;
    padding: 10px 40px;
    background-color: $dark;
}

.tmdbCredit {
    font-size: 12px;
    font-family: $noto-sans;
    color: $light;

    img {
        width: 50%;
    }
}

.bottomContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid $grey-light;
}

.logo {
    font-size: 34px;
    fill: $dark;
}

.hamburgerButtonContainer {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburgerToggle {
    display: none;

    &:checked + .hamburgerButtonContainer .hamburgerButton {
        width: 20px;
    }

    &:checked + .hamburgerButtonContainer .hamburgerButton::after {
        width: 10px;
    }
}

.hamburgerButton,
.hamburgerButton::before,
.hamburgerButton::after {
    background-color: $dark;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: 400ms;
    border-radius: 2px;
}

.hamburgerButton::before {
    content: '';
    margin-top: -8px;
}

.hamburgerButton::after {
    content: '';
    margin-top: 8px;
}

.menu {
    // position: absolute;
    width: 50%;

    &::after {
        content: '';
        background-color: $dark;
    }
}

ul {
    li {
        font-size: 20px;
        padding: 8px 24px;

        &:first-child {
            padding-top: 16px;
        }

        &:last-child {
            padding-bottom: 16px;
        }
    }
}

.authOptions {
    border-top: 1px solid $grey-light;
}
