@import '../../styles/colors';

.header {
    width: 100%;
}

.creditsContainer {
    text-align: center;
    padding: 10px 40px;
}

.tmdbCredit {
    font-size: 12px;
    color: black;

    img {
        width: 50%;
    }
}

.bottomContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: $accent-dark;
}

.logo {
    width: 60px;
}

.hamburgerButtonContainer {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburgerToggle {
    display: none;

    &:checked + .hamburgerButtonContainer .hamburgerButton {
        width: 20px;
    }

    &:checked + .hamburgerButtonContainer .hamburgerButton::after {
        width: 10px;
    }
}

.hamburgerButton,
.hamburgerButton::before,
.hamburgerButton::after {
    background-color: $light;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: 400ms;
    border-radius: 2px;
}

.hamburgerButton::before {
    content: '';
    margin-top: -8px;
}

.hamburgerButton::after {
    content: '';
    margin-top: 8px;
}
