@import './styles/colors';
@import './styles/fonts';

:root {
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    &::-webkit-scrollbar {
        width: 8px;
        background: $light;
    }

    &::-webkit-scrollbar-thumb {
        background: $grey;
        border-radius: 4px;

        &:hover {
            background: $grey-dark;
        }
    }
}

body {
    margin: 0;

    &.scroll-freeze {
        overflow: hidden;
    }
}

a {
    color: inherit;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

button {
    cursor: pointer;
    border: none;
    padding: 0px;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: inherit;
    color: inherit;

    &:disabled {
        cursor: not-allowed;
    }
}

input,
textarea {
    font-family: $poppins;

    &::placeholder {
        font-family: $roboto;
    }
}

input[type='checkbox'] {
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: $poppins;
    box-sizing: border-box;
    background-color: $light;
    color: $grey-dark;
}

.page-content-wrapper {
    position: relative;
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @media (min-width: 768px) {
        max-width: 80%;
    }
}
