@import '../../../styles/colors';

.outlinedRoundedButton {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 2px solid $accent;
    color: $accent;
    font-weight: 500;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 14px;
    padding: 3px 9px;

    @media (min-width: 300px) {
        font-size: 16px;
        padding: 3px 12px;
    }

    &:disabled {
        color: $grey-dark;
        border-color: $grey-dark;
    }

    &:not(:disabled) {
        &:active {
            scale: 0.95;
        }
    }
}
