@import '../../../styles/colors';

.darkGreyFilledButton {
    display: flex;
    background-color: $grey-dark;
    color: $light;
    font-size: 14px;
    padding: 6px 12px;

    @media (min-width: 300px) {
        padding: 8px 16px;
    }

    &:active {
        background-color: $grey;
    }

    &:disabled {
        background-color: $grey;
    }
}
