@import '../../../styles/colors';

.darkGreyFilledButton {
    display: flex;
    background-color: $grey-dark;
    color: $light;
    padding: 8px 16px;

    &:active {
        background-color: $grey;
    }

    &:disabled {
        background-color: $grey;
    }
}
